/*estilização do copo da página*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8cdff;
    margin: 0;
    padding: 0;
}
/*estilizar cabeçalho da ágina*/
header{
    background-color: #ca94f9;
    color: #fff;
    text-align: justify;
    padding: 10px;
}

/* estilização do menu */
nav ul{
    list-style: none;
    padding: 10px;
    text-align: justify;
    background-color: #ca94f9;
    margin: 0;
}
nav ul li{
    display: inline;
    margin: 20px;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none; /*tirar linha de baixo do link*/
    font-size: 18px;
}

/* classes gerais */
.imagem{
    margin: 40px;
}
.conteudo{
    background-color: #ffffff;
    margin: 40px;
    padding: 20px;
    width: 200%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    border-radius: 8px;
}

.container{
    display: flex;
}
